@font-face {
  font-family: Open_Sans;
  src: url("Font/Open_Sans/static/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

.App {
  font-family: "Open_Sans", sans-serif;
}

.App-header {
  background-color: #282c34;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  color: white;
  z-index: 10;
}
